.card-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-container {
  height: 30px;
}
.bg-user {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 32%,
    rgba(210, 81, 90, 0.5354516806722689) 100%,
    rgba(210, 81, 90, 1) 100%
  );
}

